<%- include("../layout/head") %>


  <%- include("../layout/nav-admin") %>
  

  <!-- Use any element to open the sidenav -->
  <div id="insert">
  <div id="main">
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  
  
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="Home">
      <form class="form-signin" action="/insert" method="POST" enctype="multipart/form-data">
        <h2>Thêm Sản Phẩm</h2>

        <br>
        <% if (message.length > 0) { %>
          <div class="form-control"><%= message %></div>
      <% } %>
      <br>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Tên sản phẩm" required>
        </div>
        <div class="form-group">
          <input type="number" name="soluong" class="form-control" placeholder="Số lượng" required>
          
        </div>
        <div class="form-group">
          <input type="number" name="gianhap" class="form-control" placeholder="Giá nhập" required>
         
        </div>
        <div class="form-group">
          <input type="number" name="giaban" class="form-control" placeholder="Giá bán" required>
         
        </div>
        <div class="form-group">
          <input type="file" name="image"   required >
        </div>
        <br>
        <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit" style="width:15%;margin:auto;">Thêm</button>
      </form>
  </div>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>   

 


