

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/"><i class="fa fa-fw fa-home"></i> Trang chủ</a>
  <a href="/client" ><i class="fa fa-fw fa-user"></i> Tài khoản</a>
  <a href="/about" class="{{q}}" ><i class="material-icons" style="font-size:36px">public</i> Giới thiệu</a>
  <a href="/product"><i class="material-icons" style="font-size:36px">star</i>Sản phẩm</a>
  <a href=""><i class="material-icons" style="font-size:36px;">shopping_cart</i> Giỏ hàng</a>
  <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Liên hệ</a>
</div>